*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #b9dfdf;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1{
    text-align: center;
    color: #333;

}

.order-summary ul{
    list-style: none;
}

.order-summary li{
    margin-bottom: 10px;
}

.confirmation{
    margin-bottom: 20px;
}

.confirmation input{
    margin-right: 10px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

button:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

button:not(:disabled):hover{
    opacity: 1;
}