body {
    font-family:'Times New Roman', Times, serif;
    background-color: #b9dfdf;
    margin: 0;
    padding: 0;
    color: #000000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #1494a5;
    margin-bottom: 40px;
    font-size: 36px;
}
.section {
    margin-bottom: 40px;
}
.section h2 {
    background-color: #2ec7cd;
    color: white;
    padding: 15px;
    margin: 0 -20px;
    margin-bottom: 20px;
    font-size: 28px;
    border-radius: 5px 5px 0 0;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
}
.item-info {
    flex: 1;
}
.item-info h3 {
    margin: 0;
    color: #333;

    font-size: 22px;
}
.item-info p {
    margin: 5px 0;
    color: #555;
    font-size: 16px;
}
@media (max-width: 768px) {
    .item {
        flex-direction: column;
        align-items: flex-start;
    }
    .item img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
}

.button{
   

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #008116;
}

.meu-botao {
    background-color: #00800b; 
    color: white;
    border: none;
    padding: 10px 20px; 
    font-size: 12px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.meu-botao:hover {
    background-color: #00661a; 

}

.img{
    height: 300px;
    width: 300px;
}