/* styles.css */

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding:100px;
    background-color: #b9dfdf;
}




img{
    width: 450px;
    height: 300px;

}

img {
    float: left;
    margin-right: 10px; /* espaço entre a imagem e o texto */
}

h2 {
    text-align: center;
    color: #2ec7cd;
    margin-bottom: 40px;
    font-size: 36px;
}

/* styles.css */
label {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin-right: 10px;
   
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #7bbec0;
    border-radius: 4px;
    background-color: #f3fbff;
    cursor: pointer;
    appearance: none; /* Remove a seta padrão do select */
    -webkit-appearance: none; /* Safari e Chrome */
    -moz-appearance: none; /* Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

select:focus {
    border-color: #324e6b;
    outline: none;
}

select option {
    padding: 10px;
}

.button{
   

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #008116;
}

.meu-botao {
    background-color: #00800b; 
    color: white;
    border: none;
    padding: 10px 20px; 
    font-size: 12px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.meu-botao:hover {
    background-color: #00661a; 

}

.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  
  img {
    float: left;
    margin-right: 40px; /* espaço entre a imagem e o texto */
}








img2{
    width: 450px;
    height: 300px;
 }
   


img2{
    float: left;
    margin-right: 10px; /* espaço entre a imagem e o texto */
}

h2 {
    text-align: center;
    color: #2ec7cd;
    margin-bottom: 40px;
    font-size: 36px;
}

/* styles.css */
label {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    margin-right: 10px;
   
}


select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #7bbec0;
    border-radius: 4px;
    background-color: #f3fbff;
    cursor: pointer;
    appearance: none; /* Remove a seta padrão do select */
    -webkit-appearance: none; /* Safari e Chrome */
    -moz-appearance: none; /* Firefox */
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

select:focus {
    border-color: #324e6b;
    outline: none;
}

select option {
    padding: 10px;
}

.button{
   

    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #008116;
}

.meu-botao {
    background-color: #00800b; 
    color: white;
    border: none;
    padding: 10px 20px; 
    font-size: 12px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.meu-botao:hover {
    background-color: #00661a; 

}

.previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  
  img {
    float: left;
    margin-right: 40px; /* espaço entre a imagem e o texto */
}



